1.xoj



2.xoj



math340-09-Aufgaben.pdf



math340-09-Martin.aux



math340-09-Martin.fdb_latexmk



math340-09-Martin.log



math340-09-Martin.out



math340-09-Martin.pdf



math340-09-Aufgaben.pdf.xoj

math340-09-Aufgaben.pdf.xoj.pdf

3.nb
3.xoj
