1.nb

3.nb

3.xoj

math340-08-Aufgaben-english.xoj

math340-08-Aufgaben-english.xoj.pdf

math340-08-Aufgaben.pdf

math340-08-Martin.aux

math340-08-Martin.fdb_latexmk

math340-08-Martin.log

math340-08-Martin.out

math340-08-Martin.pdf

1.nb.pdf
3.nb.pdf
3.xoj.pdf
